* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: grid;
}


/* HEADER */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #8685c9;
    color: rgb(250, 250, 250);
    padding: .7rem .65rem;
}

h1 {
    font-weight: 100;
    font-size: 1.3rem;
    margin-right: auto;
}

#web {
    font-weight: 500;
}

#trademark {
    font-size: 1rem;
    vertical-align: text-top;
}

header div {
    display: flex;
    flex-direction: column;
}

#notification {
    background-color: rgb(149, 250, 149);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    align-self: start;
    position: relative;
    left: 80%;
}

header svg {
    fill: #FFFCF7;
    transition: transform .2s;
}

header svg:hover {
    transform: scale(1.3); 
}

#line {
    height: 2.5rem;
    padding-left: .65rem;
    margin-right: .5rem;
    border-right: 1.2px solid rgb(160, 160, 160);
}

header img {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    margin-right: .5rem;
}

header p {
    white-space: nowrap;
    font-size: .75rem;
}


/* NAV */
.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #555580;
    color: rgb(250, 250, 250);
    padding: .45rem 2rem;
}

li {
    list-style-type: none;
}

a svg {
    fill: rgb(250, 250, 250);
}

/* MAIN */
main {
    display: grid;
    padding-top: .4rem;
    /*margin: 0 1rem;*/
}


/* DASHBOARD */
.dashboard {
    height: 52px;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.dashboard h3 {
    padding-right: .8rem;
    padding-left: .8rem;
    padding-bottom: .25rem;
    align-self: center;
    font-size: 1.05rem;
    font-weight: 600;
}

#empty-space {
    border-left: 1px solid rgb(211, 211, 211);
    border-bottom: 1px solid rgb(211, 211, 211);
    background-color: #fcf9f9;
}

/* ALERT */
#alert {
    display: grid;
    grid-template-columns: 90% 1fr;
    justify-content: center;
    align-items: center;
    height: 2.35rem;
    padding: .25rem .75rem;
    border-radius: 6px;
    margin: 1rem;
    background-color: #8685c9;
}

#alert p {
    padding-left: .2rem;
    color: rgb(250, 250, 250);
    font-weight: 300;
    font-size: .9rem;
    text-align: left;
    line-height: 1;
}

#alert p strong {
    font-weight: 500;
}

#alert button {
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    padding: 0;
    border: none;
    margin-left: auto;
    text-align: right;
    font-weight: 300;
    font-size: .7rem;
    color: rgb(250, 250, 250);
}


/* TRAFFIC */
.traffic {
    padding-bottom: 0rem;
    border-bottom: 1px solid lightgray;
}

h4 {
    padding-left: 1rem;
    font-size: .95rem;
    font-weight: 600;
    text-transform: uppercase;
}

.traffic-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 1rem;
    padding-right: 2rem;
}

.traffic-list li {
    padding: .5rem .25rem .75rem 0;
}

.traffic-list a {
    padding: .25rem .5rem;
    text-decoration: none;
    text-align: left;
    color: black;
    font-size: .95rem;
    font-weight: 500;
}

.traffic-list a:focus {
    background-color: rgb(140, 211, 140);
    border-radius: 40px;
    color: #FFFCF7;
    font-weight: 300;
}


/* DAILY TRAFFIC */
.daily-traffic {
    margin-top: 1rem;
    padding-bottom: .75rem;
    border-bottom: 1px solid lightgray;
}

.daily-traffic h4 {
    margin-bottom: 1.5rem;
}


/* MOBILE USERS */
.mobile-users {
    margin-top: 1rem;
    border-bottom: 1px solid lightgray;
}

#mobile-user-donut-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1.25rem;
    margin-bottom: -2rem;
    width: 250px;
    height: 250px;
}


/* SOCIAL STATS */
.social-stats {
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
    margin-top: 1rem;
}

svg {
    grid-area: svg;
    fill: #897dc4;
}

#fb, #insta, #x {
    grid-area: name;
    font-weight: 700;
    color: #897dc4;
}

.score {
    grid-area: score;
    font-size: 2rem;
    font-weight: 400;
}

.facebook, .instagram, .twitter {
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 1rem;
    background-color: #f7f5f5;
    grid-template-areas: 
    "svg name"
    "svg score";
}


/* NEW MEMBERS */
.new-members {
    border-bottom: 1px solid lightgray;
    margin-top: 1rem;
}

.victoria, .dale, .dawn, .dan {
    display: grid;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: .75rem;
    margin-right: .75rem;
}

.victoria, .dale, .dawn {
    border-bottom: 1px solid lightgray;
}

.new-members img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 0 auto;
}

.new-members .name {
    margin-bottom: -.25rem;
}

.new-members span, .new-members address a {
    font-size: .8rem;
}

.new-members address a {
    text-decoration: none;
}

/* RECENT ACTIVITY */
.recent-activity {
    border-bottom: 1px solid lightgray;
    margin-top: 1rem;
}

.chambers, .byrd, .wood {
    border-bottom: 1px solid lightgray;
}

.chambers, .byrd, .wood, .oliver {
    display: grid;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: .75rem;
    margin-right: .75rem;
}

.recent-activity img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 0 auto;
}

.recent-activity p {
    margin-left: 1rem;
    margin-right: 1rem;
}

.recent-activity p, .recent-activity span{
    font-size: .8rem;
}

/* MESSAGE USER */
.message-user {
    margin-top: 1rem;
    padding-bottom: .75rem;
    border-bottom: 1px solid lightgray;
}

.message-user h4 {
    margin-bottom: .5rem;
    margin-left: .5rem;
}

.messaging {
    display: grid;
    margin-left: 1rem;
    margin-right: 1rem;
}

.messaging input, .messaging textarea, .messaging button {
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.messaging input, .messaging textarea {
    padding-left: .5rem;
    background-color: #f7f5f5;
    font-size: .9rem;
}

.messaging textarea {
    padding-top: .5rem;
}

.messaging input {
    height: 3rem;
}

.messaging textarea {
    height: 7rem;
}

.messaging button {
    height: 3rem;
    text-transform: uppercase;
    background-color: #897dc4;
    color: #FFFCF7;
}

.messaging button:hover {
    background-color: rgba(137, 125, 196, 0.9);
}

.messaging button:active {
    background-color: rgba(137, 125, 196, 0.7);
}

.messaging input:focus, .messaging textarea:focus {
    outline-color: #897dc4;
}


/* SETTINGS */
.settings {
    margin-top: 1rem;
    padding-bottom: 1.5rem;
}

.settings h4 {
    padding-left: 1rem;
}

.toggle {
    display: grid;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    row-gap: 30px; 
    grid-template-areas: 
    "email email-toggle"
    "public public-toggle";
}


.email, .public {
    font-size: .9rem;
}


.email-toggle, .public-toggle {
    -webkit-appearance: none;
    justify-self: end;
    position: relative;
    width: 90px;
    height: 35px;
    border: 2px solid lightgray;
    border-radius: 25px;
    background-color: #ccc;
    transition: background .3s;
    outline: none;
    cursor: pointer;
}

.email-toggle::before, .public-toggle::before {
    content: 'ON';
    color: #FFFCF7;
    position: absolute;
    top: 9px;
    right: 70%;
}


.email-toggle::after, .public-toggle::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    border: 1px solid lightgray;
    border-radius: 50%;
    height: 1.4rem;
    width: 1.4rem;
    background-color: rgb(255, 255, 255);
    transition: left .3s;
}

.email-toggle:checked, .public-toggle:checked {
    background-color: #897dc4;
}

.email-toggle:checked::after, .public-toggle:checked::after {
    left: 80%;
}


.email {
    grid-area: email;
    align-self: center;
}

.email-toggle {
    grid-area: email-toggle;
}

.public {
    grid-area: public;
    align-self: center;
}

.public-toggle {
    grid-area: public-toggle;
}



.info {
    display: grid;
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 15px 20px;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-areas: 
    "select select"
    "save cancel";
}
    
select {
    grid-area: select;
    padding: 1rem;
    border-color: lightgray;
    border-radius: 5px;
    margin-top: 2rem;
    background-color: #f7f5f5;
}

.save, .cancel {
    padding: .9rem;
    border: none;
    border-radius: 5px;
    color: #FFFCF7;
}

.save {
    grid-area: save;
    text-transform: uppercase;
    background-color: #897dc4;
}

.save:hover {
    background-color: rgba(137, 125, 196, 0.9);
}

.save:active {
    background-color: rgba(137, 125, 196, 0.7);
}

.cancel {
    grid-area: cancel;
    text-transform: uppercase;
    background-color: rgb(160, 160, 160);
}

.cancel:hover {
    background-color: rgba(160, 160, 160, 0.9);
}

.cancel:active {
    background-color: rgba(160, 160, 160, 0.7);
}

select:focus {
    outline-color: #897dc4;
}


















