* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: grid;
}


/* HEADER */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #897dc4;
    color: #FFFCF7;
    padding: 1rem .65rem;
}

h1 {
    font-weight: 100;
    font-size: 1.4rem;
    margin-right: auto;
}

#trademark {
    font-size: .9rem;
    vertical-align: text-top;
}

header div {
    display: flex;
    flex-direction: column;
}

#notification {
    background-color: rgb(141, 247, 141);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    align-self: start;
    position: relative;
    left: 80%;
}

header svg {
    fill: #FFFCF7;
}

#line {
    height: 2.75rem;
    padding-left: .65rem;
    margin-right: .5rem;
    border-right: 1.2px solid rgb(173, 173, 173);
}

header img {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: .5rem;
}

header p {
    white-space: nowrap;
    font-size: .85rem;
}


/* NAV */
/* MAIN */
main {
    display: grid;
}



/* DASHBOARD */
/* TRAFFC */
/* DAILY TRAFFIC */
/* MOBILE USERS */
/* SOCIAL STATS */
/* NEW MEMBERS */
/* RECENT ACTIVITY */
/* MESSAGE USER */
/* SETTINGS */