* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: grid;
}


/* HEADER */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #897dc4;
    color: #FFFCF7;
    padding: .8rem .65rem;
}

h1 {
    font-weight: 100;
    font-size: 1.4rem;
    margin-right: auto;
}

#trademark {
    font-size: .9rem;
    vertical-align: text-top;
}

header div {
    display: flex;
    flex-direction: column;
}

#notification {
    background-color: rgb(141, 247, 141);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    align-self: start;
    position: relative;
    left: 80%;
}

header svg {
    fill: #FFFCF7;
}

#line {
    height: 2.75rem;
    padding-left: .65rem;
    margin-right: .5rem;
    border-right: 1.2px solid rgb(173, 173, 173);
}

header img {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: .5rem;
}

header p {
    white-space: nowrap;
    font-size: .85rem;
}


/* NAV */
.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #433877;
    color: #FFFCF7;
    padding: .55rem 1.5rem;
}

li {
    list-style-type: none;
}

a svg {
    fill: #FFFCF7;
}

/* MAIN */
main {
    display: grid;
    margin: 0 1rem;
}


/* DASHBOARD */
.dashboard {
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

h3 {
    padding-right: .5rem;
    padding-left: .5rem;
    padding-bottom: .25rem;
    align-self: center;
    font-weight: 600;
}

#empty-space {
    border-left: 1px solid rgb(173, 173, 173);
    border-bottom: 1px solid rgb(173, 173, 173);
    background-color: rgb(236, 236, 236);
}

/* ALERT */
#alert {
    display: grid;
    grid-template-columns: 90% 1fr;
    justify-content: center;
    align-items: center;
    height: 2.75rem;
    padding: .25rem .75rem;
    border-radius: 8px;
    margin: 1rem;
    background-color: #897dc4;
}

#alert p {
    color: #FFFCF7;
    font-weight: 300;
    font-size: .9rem;
    text-align: left;
    line-height: 1;
}

#alert p strong {
    font-weight: 600;
}

#alert button {
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    padding: 0;
    border: none;
    margin-left: auto;
    text-align: right;
    font-weight: 300;
    font-size: .7rem;
    color: #FFFCF7;
}


/* TRAFFIC */
.traffic-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
}

.traffic-list li {
    text-align: center;
    height: 2rem;
}

.traffic-list li:hover {
    background-color: rgb(141, 247, 141);
    border-radius: 30%;
}


/* DAILY TRAFFIC */
/* MOBILE USERS */
/* SOCIAL STATS */
/* NEW MEMBERS */
/* RECENT ACTIVITY */
/* MESSAGE USER */
/* SETTINGS */